#formPageSignUp {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
#signUpForm {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
label {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

#signUp {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

#noMuggles {
  color: #ae0001;
  margin-top: 0px;
}

.validationsSignUp {
  color: #ae0001;
  font-family: fantasy;
}

#errorsMessage {
  color: #ae0001;
  font-family: fantasy;
}
