label {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

#signUp {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#formPageSignUp {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

#noMuggles {
  color: #ae0001;
  margin-top: 0px;
}

.validationsSignUp {
  color: #ae0001;
}

#errorsMessage {
  color: #ae0001;
}
