* {
  text-decoration: none;
  color: black;
}

.eventImages {
  height: 250px;
  width: 350px;
  margin-right: 20px;
  margin-left: 10px;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: rgb(41, 41, 82) 5px 5px 10px 5px;
}

.events-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#photoBox {
  display: flex;
  margin-left: 5px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.57);
  max-width: 700px;
  height: 300px;
}

#photoBox:hover {
  transform: scale(1.1);
}

#wizardEvent {
  color: rgb(157, 157, 157);
  font-size: 1.25rem;
}

.eventName {
  font-size: 1.5rem;
}

#startDate {
  font-family: fantasy;
  font-size: 1rem;
}

.eventLocation {
  color: rgb(71, 71, 71);
}

#locationP {
  font-family: fantasy;
  font-size: 1.25rem;
}

.eventType {
  color: rgb(9, 9, 9);
  font-family: fantasy;
  font-size: 1.25rem;
}

.events-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://img.freepik.com/premium-photo/blue-feathers-closeup-background-generative-ai_791958-114.jpg);
}

.eventPageLinks {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  font-size: 2rem;
  color: black;
}

#event {
  color: rgb(0, 196, 196);
  text-decoration: underline;
  font-size: 2.5rem;
  font-family: fantasy;
}
#group {
  color: rgb(223, 223, 223);
  font-size: 2.5rem;
  font-family: fantasy;
}
