* {
  text-decoration: none;
  color: black;
}

.eventImages {
  height: 300px;
  width: 400px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 30px;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: rgb(41, 41, 82) 5px 5px 10px 5px;
}

#photoBox {
  display: flex;
}

#wizardEvent {
  color: gray;
  font-size: 1.25rem;
}

.eventName {
  font-size: 2rem;
}

#startDate {
  font-family: fantasy;
}

.eventLocation {
  color: grey;
}

#locationP {
  font-family: fantasy;
}

.eventType {
  color: grey;
  font-family: fantasy;
}

.events-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventPageLinks {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  font-size: 2rem;
  color: black;
}

.wizard-event {
  display: flex;
  border-top: 2px solid rgb(41, 41, 82);
  border-bottom: 2px solid rgb(41, 41, 82);
  margin-bottom: 20px;
}

#event {
  color: teal;
  text-decoration: underline;
  font-size: 2.5rem;
  font-family: fantasy;
}
#group {
  color: grey;
  font-size: 2.5rem;
  font-family: fantasy;
}
