* {
  text-decoration: none;
  color: black;
}

.eventImages {
  height: 300px;
  width: 350px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#wizardEvent {
  color: gray;
  font-size: 1.25rem;
}

.eventName {
  font-size: 2rem;
}

.eventLocation {
  color: grey;
}

.eventType {
  color: grey;
}

.events-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventPageLinks {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  font-size: 2rem;
  color: black;
}

#group:hover {
  text-decoration: underline;
  color: teal;
}

#event:hover {
  text-decoration: underline;
  color: teal;
}

.wizard-event {
  display: flex;
  border-top: 2px solid #ae0001;
  border-bottom: 2px solid #ae0001;
  margin-bottom: 20px;
}
