* {
  text-decoration: none;
  color: black;
}

#eventLink {
  color: grey;
  font-family: fantasy;
}

#groupLink {
  color: teal;
  text-decoration: underline;
  font-family: fantasy;
}

.Images {
  height: 300px;
  width: 400px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 30px;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: rgb(41, 41, 82) 5px 5px 10px 5px;
}

#wizardGroup {
  color: gray;
  font-size: 1.25rem;
}

.groupInfo {
  font-family: fantasy;
}

.groupName {
  font-size: 2rem;
}

.groupLocation {
  color: grey;
}

.groupType {
  color: grey;
}

.groups-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageLinks {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  font-size: 2.5rem;
  color: black;
}

#group:hover {
  text-decoration: underline;
}

#eventLink:hover {
  text-decoration: underline;
}

.wizard-group {
  display: flex;
  border-top: 2px solid rgb(41, 41, 82);
  border-bottom: 2px solid rgb(41, 41, 82);
  margin-bottom: 20px;
}
