* {
  text-decoration: none;
  color: black;
}

#wizardGroup {
  color: gray;
  font-size: 1.25rem;
}

.groupName {
  font-size: 2rem;
}

.groupLocation {
  color: grey;
}

.groupType {
  color: grey;
}

.groups-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageLinks {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  font-size: 2rem;
  color: black;
}

#group:hover {
  text-decoration: underline;
  color: teal;
}

#event:hover {
  text-decoration: underline;
  color: teal;
}

.wizard-group {
  display: flex;
  border-top: 2px solid #ae0001;
  border-bottom: 2px solid #ae0001;
  margin-bottom: 20px;
}
