#imageDetails {
  width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px #000;
  margin-right: 60px;
  border: 2px black solid;
}

#backToGroupLink {
  font-size: 18px;
  height: 50px;
  margin-left: 225px;
  margin-bottom: 0px;
  margin-top: 18px;
}

#backToLabel:hover {
  color: teal;
}

.para {
  margin-top: 2px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 140px;
}

.topHalfContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 1px;
  margin-top: 5px;
  padding: 0px;
}

.topDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottomHalfContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  letter-spacing: 1px;
  margin-top: 70px;
  background-color: rgb(222, 222, 222);
}
