#imageDetails {
  width: 550px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: rgb(180, 180, 180) 1px 6px 12px 5px;
  margin-bottom: 30px;
}

#backToGroupLink {
  font-size: 18px;
  height: 50px;
  margin-top: 18px;
}
.paraGroupDetailsTop {
  font-family: fantasy;
  margin-top: 15px;
}

#topDetailsParagraph {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

#delete-button {
  background-color: rgba(177, 38, 38, 0.676);
}

#h1Name {
  margin-left: 5px;
}

#backToLabel:hover {
  color: rgb(0, 198, 198);
}

.paraGroupDetails {
  margin-top: 10px;
  margin-left: 10px;
  font-family: fantasy;
  color: antiquewhite;
}

.bottomHalfDetails {
  color: rgb(220, 220, 220);
  margin-top: 10px;
}

#joinButton {
  height: 50px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.topHalfContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 1px;

  padding: 0px;
  background-image: url(https://img.freepik.com/premium-photo/blue-feathers-closeup-background-generative-ai_791958-114.jpg);
}

.topDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottomHalfContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  background-color: rgb(5, 0, 71);
}

#detailsTop {
  border: black 2px solid;
  margin-top: 75px;
  border-radius: 20px;
  max-height: 400px;
  max-width: 330px;
  background-color: rgba(205, 205, 205, 0.585);
}

#eventCard {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#eventH2 {
  display: flex;
  justify-content: center;
}

#descripEvent {
  display: flex;
  justify-content: center;
}

#eventItems {
  margin-left: 20px;
}

#joinButton {
  background-color: rgba(188, 43, 43, 0.734);
  margin-bottom: 25px;
}

#createButton {
  background-color: rgba(208, 208, 208, 0.673);
}
#Update {
  background-color: rgba(208, 208, 208, 0.673);
}

#backToLabel {
  font-family: fantasy;
  color: aliceblue;
}

#deleteGroupButton {
  height: 50px;
  background-color: rgba(176, 88, 88, 0.603);
}
