#welcomeH1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 5.75rem;
  margin-top: 2rem;
  margin-bottom: 10px;
  color: rgb(200, 202, 176);
  text-shadow: rgb(1, 11, 26) 5px 10px 2px;
  z-index: 0;
  padding: 0px;
}

#section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
  border-bottom: 2px black solid;
  background-image: url(https://img.freepik.com/premium-photo/blue-feathers-closeup-background-generative-ai_791958-114.jpg);
  z-index: 0;
}

#introForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#infoGraphic {
  height: 90%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: rgb(177, 177, 178) 0 0 4px 5px;
  z-index: 0;
}

#logo {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 62);
}

#landingParagraph {
  color: rgb(200, 202, 176);
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  margin: 2px;
  text-shadow: rgb(1, 11, 26) 4px 5px 2px;
}

.JoinButton {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  background-color: rgb(0, 0, 62);
  border: none;
}

button {
  background-color: rgba(194, 194, 194, 0.62);
  height: 40px;
  width: 80px;
  font-family: fantasy;
  margin-bottom: 15px;
}

#whatAbout {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: rgb(200, 202, 176);
  margin-top: 20px;
}

#paragraphAbout {
  text-align: center;
  word-wrap: break-word;
  font-family: fantasy;
  color: rgb(200, 202, 176);
  margin-top: 10px;
  margin-bottom: 15px;
}

.landing-img {
  width: 450px;
  height: 350px;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: rgb(200, 202, 176) 0 0 4px 5px;
}

.landing-img:hover {
  box-shadow: rgb(0, 167, 167) 20 0 4px 5px;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.landingCards {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: rgb(180, 180, 180);
  height: 75%;
  background-color: rgb(0, 0, 62);
}

.landing-img {
  width: 400px;
  height: 300px;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: rgb(200, 202, 176) 0 0 4px 5px;
}

.landing-img:hover {
  box-shadow: rgb(0, 167, 167) 20 0 4px 5px;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.landing-link {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
  color: rgb(200, 202, 176);
  margin-bottom: 20px;
}

.landing-link:hover {
  color: rgb(0, 167, 167);
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.landing-link-disabled {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10px;
  color: rgb(66, 66, 66);
}

@media screen and (max-width: 1020px) {
  .landingCards {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}
