#imageEventDetails {
  border: black 2px solid;
  height: 350px;
  width: 550px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: rgb(180, 180, 180) 1px 6px 12px 5px;
}

#groupNameCard {
  font-family: fantasy;
}

.topHalfEventContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-image: url(https://img.freepik.com/premium-photo/blue-feathers-closeup-background-generative-ai_791958-114.jpg);
}

#eventDetailsPara {
  color: aliceblue;
}
.eventDetailsPara {
  color: aliceblue;
  font-family: fantasy;
}

.bottomEventHalfContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 15, 90);
  height: 500px;
}

#timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
}

#eventHeaderName {
  color: aliceblue;
  font-size: 2rem;
  font-family: fantasy;
}
#deleteEventButton {
  background-color: rgba(142, 6, 6, 0.508);
  height: 50px;
}

#updateEventButton {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.508);
}
#icons {
  margin-right: 5px;
}
.iconsContainer {
  flex-direction: column;
}

#eventHeader {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: 30px;
  margin-bottom: 25px;
  margin-top: 20px;
}

#lowerDetails {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#groupCardInfo {
  margin-left: 15px;
}

#groupImageDetails {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 20px;
  height: 80px;
  border: black 2px solid;
}

.upperDetailsOfTop {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-right: 10px;
  border: 2px black solid;
  border-radius: 20px;
  background-color: rgba(227, 227, 227, 0.607);
}
.lowerDetailsOfTop {
  border: 2px black solid;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 25px;
  max-height: 400px;
  background-color: rgba(227, 227, 227, 0.607);
}

#lowerDetails {
  margin: 20px;
}

.paragraphDetails {
  font-size: 20px;
  font-family: fantasy;
}

#organizerButtons {
  display: flex;
  gap: 10px;
}
