@import url("https://fonts.cdnfonts.com/css/harry-potter");

* {
  font-family: "Harry Potter", sans-serif;
}

button {
  border-radius: 20px;
}

li {
  font-family: fantasy;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: "Harry Potter", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: rgb(41, 41, 82) 2px solid;
  height: 150px;
}

#linkWand {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(41, 41, 82);
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  z-index: 10;
  font-family: fantasy;
  z-index: 10;
}

.newGroupButton {
  display: flex;
  float: left;
  margin-right: 30px;
  margin-top: 15px;
  font-family: fantasy;
}

#buttonsClass {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#topButton {
  display: flex;
  flex-direction: row-reverse;
}
