@import url("https://fonts.cdnfonts.com/css/harry-potter");

* {
  font-family: "Harry Potter", sans-serif;
}

button {
  border-radius: 10px;
}

.profile-button {
  height: 30px;
  width: 50px;
  margin-top: 8px;
}

li {
  font-family: fantasy;
}

#homeButtonWand {
  margin-top: 10px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: "Harry Potter", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: rgb(19, 19, 39) 2px solid;
  height: 60px;
  background-color: rgb(26, 26, 54);
}

.profile-dropdown-container {
  z-index: 10;
  margin-top: 5px;
  margin-right: 5px;
}

#linkWand {
  text-decoration: none;
  font-size: 2rem;
  color: antiquewhite;
  margin-top: 10px;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  font-family: fantasy;
  z-index: 10;
}

.dropDownDetails {
  color: antiquewhite;
  font-size: 20px;
  margin-right: 10px;
}

.newGroupButton {
  display: flex;
  float: left;
  margin-right: 30px;
  margin-top: 15px;
  font-family: fantasy;
  color: antiquewhite;
}

.login-signup-buttons {
  display: flex;
  color: aliceblue;
  gap: 10px;
}

#buttonsClass {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#topButton {
  display: flex;
  flex-direction: row-reverse;
}
