form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: fantasy;
}

#loginForm {
  display: flex;
  align-items: center;
  gap: 5px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
#loginButton {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.loginValidations {
  color: #ae0001;
  font-size: 12px;
  display: flex;
  justify-content: center;
  font-family: fantasy;
}

#invalidCredentials {
  color: #ae0001;
  font-size: 10px;
  display: flex;
  justify-content: center;
  font-family: fantasy;
}

#demoButton {
  justify-content: center;
}
